/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo-container .logo {
    width: 100px;
    padding: 20px;
}

ul {
    padding: 0%;
    margin: auto;
}

li {
    display: inline-block;
    margin: 0 20px;
    padding-top: 20px;
}

li:hover {
    color: #0065FC;
    border-top: #0065FC solid;
}

.search-group {
    display: flex;
    margin-bottom: 20px;
    height: 45px;
    width: 300px;
}

input::placeholder {
    font-weight: bold;
    padding-left: 15px;
    color: black;
    font-size: 16px;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.place {
    border-radius: 10px 0 0 10px;
    border: 0px;
    margin-right: -1px;
    width: 40px;
    background-color: #F2F2F2;
}

.place i {
    color: black;
}

.form-control {
    border-radius: 0%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 170px;
}

.search-button {
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0;
    border: 0px;
    height: auto;
    font-size: 16px;
}

.search-icon {
    display: none;
}

.search-text {
    display: inline;
}

.filtres {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filtre {
    border-radius: 30px;
    background-color: white;
    width: fit-content;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-inline: 10px;
    display: flex;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.filtre i {
    color: #0065FC;
    width: 30px;
    padding-top: 8px;
}

.categories {
    margin: 0%;
    margin-left: 5px;
    font-weight: bold;
    font-size: 16px;
}


.filtres-button {
    display: flex;
}

.info {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info i {
    margin-right: 10px;
    border: solid 1px grey;
    border-radius: 50%;
    padding: 5px 10px;
    width: 6px;
}

.info p {
    margin: 0%;
    padding-top: 5px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0%;
}

.card-subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}


.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.hebergements-cards .card {
    width: 250px;
    height: 200px;
    margin-top: 33px;
}

.hebergements-cards img {
    border-radius: 20px 20px 0 0;
    height: 60%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
    height: 130px;
}

.populaires-cards img {
    width: 33%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    height: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites {
    margin-left: 40px;
}

.activites-cards {
    display: flex;
    margin-top: 20px;
}

.activites img {
    height: 85%;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
}

.activites .card {
    width: 22.5%;
    height: 450px;
    margin-right: 30px;
    padding: 0%;
}

.activites .card-title {
    margin-left: 20px;
}

footer {
    margin-top: 50px;
    display: flex;
    background-color: var(--main-bg-color);
    padding: 20px 10px;
}

.footer-col {
    margin-right: 250px;
}

.footer-col h2 {
    margin-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .logo-container .logo {
        width: 60px;
    }

    .filtres {
        display: block;
    }

    .filtres-button {
        display: flex;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        width: 100%;
    }

    .info {
        margin-bottom: 30px;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card {
        width: 260px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites .card {
        height: 275px;
        width: 300px;
        padding: 0%;
    }

    .activites img {
        height: 75%;
        width: 100%;
    }

    .activites .card-title {
        margin-left: 20px;
    }

    footer {
        padding-left: 10px;
    }

    .footer-col {
        margin-right: 135px;
        font-size: 13px;
        width: max-content;
    }

    .footer-col p,
    .footer-col h2 {
        width: max-content;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        background-color: #F2F2F2;
        margin: 0;
    }

    .main-container {
        padding: 0%;
    }

    .header {
        display: block;
        background-color: white;
        margin: 0;
    }

    .logo-container .logo {
        width: 70px;
        padding: 10px;
    }

    .logo-container {
        text-align: center;
        padding-top: 20px;
    }

    ul {
        width: 100vw;
        text-align: center;
        display: flex;
    }

    li {
        width: 50%;
        margin: 0%;
        padding-bottom: 10px;
    }

    li:hover {
        color: #0065FC;
        border-bottom: #0065FC solid;
        border-top: 0;
    }

    .search-title {
        padding: 35px 20px;
        background-color: white;
    }

    .search-title p {
        margin-top: 10px;
    }

    .search-group {
        background-color: white;
        margin: 0;
        padding-left: 20px;
        padding-bottom: 30px;
        width: auto;
        height: 50px;
    }

    .place {
        width: 60px;
        height: 100%;
        padding: 0;
    }

    .form-control {
        width: 260px;
        height: 100%;
        padding: 0;
    }

    input::placeholder {
        font-size: 18px;
    }

    .search-button {
        width: 50px;
        height: 100%;
        border-radius: 17px;
        margin-left: -30px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    }

    .search-icon {
        display: inline;
    }

    .search-icon i {
        color: white;
    }

    .search-text {
        display: none;
    }

    .filtres {
        background-color: white;
        padding-left: 20px;
        display: block;
        margin: 0;
    }

    .filtres h2 {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .filtres-button {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .filtre {
        margin-bottom: 20px;
        margin-left: 0;
        width: 150px;
    }

    .categories {
        font-size: 14px;
    }

    .info {
        background-color: white;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        margin: 0;
    }

    .info i {
        height: 18px;
    }

    .info p {
        padding: 0;
    }

    .card {
        filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
    }

    .hebergements {
        order: 2;
    }

    .populaires {
        order: 1;
        margin: 0%;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 330px;
    }

    .populaires-cards .card {
        margin-top: 15px;
        height: 135px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding-left: 20px;
        padding-right: 15px;
    }

    .hebergements {
        background-color: white
    }

    .hebergements-cards {
        margin-bottom: 10px;
    }

    .hebergements-cards .card {
        width: 320px;
        margin-top: 15px;
    }

    .hebergements-cards .card-content {
        padding-left: 10px;
        padding-top: 5px;
    }

    .hebergements h2 {
        font-size: 18px;
    }

    .hebergements-and-populaires {
        margin-bottom: 0;
    }

    .activites {
        padding-left: 30px;
        padding-top: 65px;
        padding-bottom: 50px;
        margin: 0;
        background-color: white;
    }

    .activites-cards {
        margin-top: 30px;
        flex-direction: column;
    }

    .activites-cards .card {
        width: 320px;
        height: 200px;
        margin-bottom: 15px;
        margin-top: 2px;
    }

    .activites img {
        height: 70%;
        margin-bottom: 15px;
    }

    footer {
        flex-direction: column;
        margin: 0;
    }

    .footer-col {
        margin-left: 20px;
    }

    #middle {
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .footer-col h2 {
        font-size: 18px;
    }

    .footer-col p {
        font-size: 16px;
    }
}